.dialogsList{
    list-style: none;
  
    
}

.dialogsItem a{
text-decoration: none;
}

.dialogsAva{
    width: 65px;
    height: 65px;
    border-radius: 50px;
    
}

.dialogsName{
    /* text-align: center; */
    padding-bottom: 20px;
}